flows/Metadata_Backup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copado_Job_Status</name>
        <label>Copado_Job_Status</label>
        <locationX>826</locationX>
        <locationY>624</locationY>
        <actionName>CopadoAPI.getJobStatus</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Snapshot_is_Completed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>api_key</name>
            <value>
                <elementReference>copadoApiKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>copadoJobId</name>
            <value>
                <elementReference>Git_Snapshot.200.copadoJobId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Git_Snapshot</name>
        <label>Git Snapshot</label>
        <locationX>915</locationX>
        <locationY>68</locationY>
        <actionName>CopadoAPI.executeSnapshot</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Update_Result_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>api_key</name>
            <value>
                <elementReference>copadoApiKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>snapshotId</name>
            <value>
                <elementReference>snapshotId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Snapshot_Executed</name>
        <label>Snapshot Executed?</label>
        <locationX>1227</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>Update_Git_Snapshot_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Snapshot not Started</defaultConnectorLabel>
        <rules>
            <name>Snapshot_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Git_Snapshot.200.copadoJobId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Wait_for_Git_Snapshot_to_Complete</targetReference>
            </connector>
            <label>Snapshot Started</label>
        </rules>
    </decisions>
    <decisions>
        <name>Snapshot_is_Completed</name>
        <label>Snapshot is Completed</label>
        <locationX>329</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>Wait_for_Git_Snapshot_to_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Snapshot not Completed</defaultConnectorLabel>
        <rules>
            <name>Snapshot_completed_successfully</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copado_Job_Status.200.copadoJobId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_result_to_completed_successfully</targetReference>
            </connector>
            <label>Snapshot completed successfully</label>
        </rules>
        <rules>
            <name>Completed_with_errrors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copado_Job_Status.200.copadoJobId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_with_Errors</targetReference>
            </connector>
            <label>Completed with errrors</label>
        </rules>
    </decisions>
    <description>Creates a metadata snapshot of your target environment. Version 4</description>
    <formulas>
        <name>ResumeTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+(3/1440)</expression>
    </formulas>
    <formulas>
        <name>SalesforceOrgUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Metadata Backup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Metadata Backup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Completed_with_Errors</name>
        <label>Completed with Errors</label>
        <locationX>350</locationX>
        <locationY>549</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Error_Message__c</field>
            <value>
                <elementReference>Git_Snapshot.defaultExc.message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>Git_Snapshot.200.copadoJobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Git_Snapshot_Result</name>
        <label>Update Git Snapshot Result</label>
        <locationX>1237</locationX>
        <locationY>493</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Error_Message__c</field>
            <value>
                <elementReference>Git_Snapshot.defaultExc.message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Result_Record</name>
        <label>Update Result Record</label>
        <locationX>1234</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Snapshot_Executed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>Git_Snapshot.200.copadoJobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Link__c</field>
            <value>
                <stringValue>{!SalesforceOrgUrl}{!snapshotId}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_result_to_completed_successfully</name>
        <label>Update result to completed successfully</label>
        <locationX>34</locationX>
        <locationY>451</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>Git_Snapshot.200.copadoJobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <start>
        <locationX>445</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Git_Snapshot</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>copadoApiKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>snapshotId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_Git_Snapshot_to_Complete</name>
        <label>Wait for Git Snapshot to Complete</label>
        <locationX>818</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Awaiting_Snapshot</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Copado_Job_Status</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>ResumeTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Awaiting Snapshot</label>
        </waitEvents>
    </waits>
</Flow>
